
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum</title>
  </head>
  <body>
    <h1>Sum</h1>
    <% var sum = x+y+z+a %>
    <% var color = (sum % 2) ? 'red' : 'blue' %>
    <h2 style="font-size:<%= fontsize %>;border:<%= borderwidth %>px solid <%= bordercolor %>;"><%= x %> + <%= y %> + <%= z %> + <%= a %> = 
     
  
      <span style="color:<%= color %>;"><%= sum%> </span>
    </h2>  
  </body>
